.title {
	text-shadow: #CCCCCC 4px 4px 2px;
}

.subhead {
	text-shadow: #CCCCCC 3px 3px 2px;
}

body {
	font-family: Sans-serif;
	#	background-color: #E9E9FF;
	background-color: #fffef4;
	color: #0a0d3f;
	margin: 3px 0px 3px 0px;
}

.heading {
	background-color: #d5d8ff;
}

a:link {
	color: #006633;
	text-decoration: none;
}

a:visited {
	color: #006633;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #006666;
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: underline;
}

.navtable {
	background-image: url(/media/bkgrnd_horiz.gif);
	background-repeat: repeat-x;
}

.navtable.bottom {
	background-image: url(/media/bkgrnd_horiz_bottom.gif);
}

.maintable {
	/*background-image: url(/media/dabotrans_huge.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

td {
	font-family: Sans-serif;
}

UL {
	list-style: url("/media/arrow_3dot.gif") disc;
}

.copy {
	font-family: Sans-serif;
}

.bold {
	font-weight: bold;
}

.error {
	font-family: Sans-serif;
	font-weight: bold;
	color: red;
}

.alert {
	font-family: Sans-serif;
	font-weight: bold;
	font-size: 120%;
	color: darkred;
	margin-bottom: 4em;
}

.smbold {
	font-weight: bold;
	font-family: Sans-serif;
	font-size: 80%;
	font-size: .65em
}

.mondo {
	font-family: Sans-serif;
	font-size: 200%;
	font-weight: bold;
}

.title {
	font-family: Sans-serif;
	font-size: 220%;
	font-weight: bolder;
	margin: 20px 0px 20px 30px;
}

.contentdiv {
	font-family: Sans-serif;
	font-size: 90%;
	margin: 0px 0px 0px 30px;
}

.head {
	font-family: Sans-serif;
	font-size: 130%;
	font-weight: bold;
}

.subhead {
	font-family: Sans-serif;
	font-size: 160%;
	font-weight: bold;
	margin-top: 30px;
}

.large {
	font-family: Sans-serif;
	font-size: 120%;
}

.navigation {
	font-family: Sans-serif;
}

.medium {
	font-family: Sans-serif;
}

.small {
	font-family: Sans-serif;
	font-size: 85%;
}

.toppad {
	padding-top: 2em;
}

.tiny {
	font-family: Sans-serif;
	font-size: 70%;
}

.caption {
	font-family: Sans-serif;
	font-size: 90%;
}

.largequote {
	font-style: italic;
	font-family: serif;
	font-size: 150%;
}

.quote {
	font-family: serif;
	font-size: 110%;
	font-style: italic;
}

.smallquote {
	font-family: serif;
	font-size: 90%;
	font-style: italic;
}

.credit {
	font-family: serif;
	font-size: 90%;
	font-style: italic;
}

.ital {
	font-style: italic;
}

.indent {
	margin-left: 11px;
}

.superscript {
	vertical-align: super;
	font-family: Sans-serif;
	font-size: 70%;
}

.white {
	color: white;
}

.red {
	color: red;
}

.brown {
	color: rgb(100, 100, 50);
}

.cream {
	color: rgb(255, 255, 200);
}

.maincontent {
	margin: 5px 20px 5px 50px;
	font-family: Sans-serif;
}

.visualcontent {
	font-family: Sans-serif;
}

.news {
	font-family: Sans-serif;
}

.wm {
	color: rgb(20, 80, 115);
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 70%;
}

.notopmar {
	margin-top: 0px;
}

.fp {
	color: #666;
	font-family: Sans-serif;
	font-size: 130%;
	font-weight: bold;
}

.topnav {
	color: #666;
	font-family: Sans-serif;
	font-weight: bold;
}

.navbartext {
	font-family: Sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #0a0d3f;
	vertical-align: middle;
	text-decoration: none;
	margin: 10px 15px 10px 5px;
}

.navbartext.bottom {
	position: relative;
	top: 22px;
}

.navbartext:link {
	color: #006633;
	text-decoration: blink;
}

.navbartext:visited {
	color: #006300;
	text-decoration: none;
}

.navbartext:hover {
	text-decoration: underline;
	color: yellow;
}

.navbartext:active {
	color: yellow;
	background-color: white;
}

.licensetext {
	font-family: Monaco, Courier New, monospaced;
	margin: 0px 0px 0px 40px;
	font-size: 105%;
	font-weight: bold;
}

.contentpane {
	width: 80%;
	background-color: #ddddff;
	border: thin solid #aaaadd;
	padding: 4px;
}

.navigationpane {
	width: 20%;
	background-color: #ddddff;
	border: thin solid #aaaadd;
	padding: 4px;
}