<%inherit file="/main.html"/>\
<%page cached="False"/>
<%def name="title()">Dabo - Downloads</%def>
<%def name="body()">

	<div class="title">
		Download Dabo
	</div>
	<div class="contentdiv">
		<ul>
			<li>
				<a href="#latest">Latest Release</a>
			</li>
			<li>
				<a href="#binary">Binary Package</a>
			</li>
			<li>
				<a href="#mssql">Microsoft SQL Server Support Files</a>
			</li>
			<li>
				<a href="#sqlite">SQLite Support Files</a>
			</li>
			<li>
				<a href="#development">Development Releases</a>
			</li>
			<li>
				<a href="#screencast">Screencasts</a>
			</li>
		</ul>
		<div class="subhead">
			<a name="latest">Latest Release</a>
		</div>
		<p>
			Download and decompress the file. It will create a folder named '<b>dabo</b>', which will contain <b>3 main things</b>: the <b>dabo module</b> itself (in a subdirectory also named 'dabo'), along with folders containing the <b>visual tools</b> ('ide'), and the <b>DaboDemo</b> program ('demo'). First, we need to install the module. To do this, change to the main directory created when you decompressed the downloaded file, and issue:
		</p>
<pre>python setup.py install</pre> 
		<p>
			Of course, if your Python installation is in a protected location, you will need to run the above command as a user with admin rights.
		</p>
		<p>
			If you have trouble with setuptools, or you don't want to install the Python Egg for any reason, you can instead extract Dabo anywhere you like, and then put a <b>dabo.pth</b> file in your Python site-packages directory pointing to the directory that contains the Dabo Readme file. This method has the advantage that you can keep the Dabo module in an unprivileged location, where you can keep it updated using the <b>Web Update</b> feature.
		</p>
		<p>
			After installing the module, you should then copy the '<b>ide</b>' and '<b>demo</b>' directories to whatever location you prefer, as these are applications written in Dabo, and do not need to be installed.
		</p>
		For more detailed platform-specific installation instructions, check out the Wiki pages: 
		<ul type="circle">
			<li>
				<a href="http://wiki.dabodev.com/InstallationOnWindows">Windows</a>
			</li>
			<li>
				<a href="http://wiki.dabodev.com/InstallationOnLinux">Linux</a>
			</li>
			<li>
				<a href="http://wiki.dabodev.com/InstallationOnMac">OS X</a>
			</li>
		</ul>
		<p>
			Prerequisites are: Python 2.5 or higher (2.7 recommended), wxPython 2.9 or higher. Also, MySQLdb (for MySQL), kinterbasdb (Firebird), pymssql (Microsoft SQL Server) or psycopg (PostgreSQL) is required for the database-releated demos to work.
		</p>

		<ul>
			<li>
				<a href="/grabit/dabo_nix_download">Download the Mac/Linux/Unix Tarball</a>
			</li>
		<li>
			<a href="/grabit/dabo_win_download">Download the Windows Zip File</a>
		</li>
		<li>
			<a href="https://github.com/dabodev/dabo/blob/latest/RELEASENOTES.md" target="_new">View the Change Log</a>
		</li>
		</ul>
		
	<div class="subhead">
		<a name="binary">Binary Package</a>
	</div>
	<p>
		There is a <b>runtime binary</b> available in Installer form for Windows. <b>Please note that this is a very old version of Dabo – it should only be used for a "test drive" to see what Dabo is like.</b> After installing this, you will be able to run Dabo applications <b>without having to install any of the prerequisite packages</b>. The runtime engine contains version 2.5.2 of Python, as well as the 2.8.10.1 release of wxPython. It installs the <b>0.9.3 release</b> of the Dabo framework, updated to the most recent build. Once installed, you can easily keep up with new versions by using the Web Update feature. It also installs the <b>demo</b> and <b>IDE</b> packages. When new versions of these files become available, you the  Web Update feature will allow you to take advantage of the latest developments in Dabo without having to uninstall/reinstall the Runtime Engine.
	</p>
	<p>
		Please note that the runtime engine does not install any ActiveX controls, nor does it install anything that requires Administrative access to the Windows Registry. It will not disturb any existing Python installation on your machine, either. It uses a standard Windows installer, and creates standard uninstall information for when you wish to remove it.
	</p>
	<ul>
		<li>
			<a href="/grabit/dabo/win/DaboRuntimeSetup.exe" id="windaborun" name="windaborun">Dabo Runtime Installer</a> for Windows
		</li>
		<li>
			<a href="/grabit/dabo/win/DaboRuntimeSetupConsole.exe" id="windaborunconsole" name="windaborunconsole">Dabo Runtime Installer</a> for Windows - with command-line output (for those who want to see every bit of debugging detail!).
		</li>
	</ul>
	<hr width="75%" />
	<div class="subhead">
		<a name="mssql">Microsoft SQL Server Support Files</a>
	</div>
	<p>
		The version of <b>pymssql.py</b> available from the authors seems to have a bug that prevents it from working properly with Dabo. If you've tried it and are having problems, try ours: we've patched it to correct the bug; the patched version is available here: <a href="/grabit/dabo/pymssql.py" id="pymssql"><b>Download pymssql.py</b></a>
	</p>
	<div class="subhead">
		<a name="sqlite">SQLite Support Files</a>
	</div>
	<p>
		Dabo supports the <b>SQLite</b> database engine. We make our demo and tutorial data available over the web via a public MySQL database, but for those of you who either need to work without a database connection, or who don't have the MySQLdb module installed, we've duplicated those MySQL databases into local SQLite database files that you can download and unzip onto your machines and work with locally.
	</p>
	<ul>
		<li>
			<a href="/grabit/dabo/webtest.zip" id="webtest">SQLite Demo Database</a>
		</li>
		<li>
			<a href="/grabit/dabo/tutorial.sqlite.zip" id="tutorial">SQLite Tutorial Database</a>
		</li>
	</ul>
	<div class="subhead">
		<a name="development">Development Releases</a>
	</div>
	<p>
		GitHub working branch
	</p>
	<p>
		If you don't already have it, you'll need to <a href="http://git-scm.com/book/en/Getting-Started-Installing-Git">install git</a>. Next, grab the latest release from GitHub, and checkout and update the <preworking</pre> branch as follows:
		<br>
	<pre>
	git clone git@github.com:dabodev/dabo.git
	cd dabo
	git checkout working
	git pull origin working
	</pre>

	<div class="subhead">
		<a name="screencast">Screencasts</a>
	</div>
	<p>
		For those who either have a slow internet connection, or who want to be able to view the Dabo screencasts offline, we are making them available here. After downloading and unzipping them, just open the html file in any browser that has Flash installed. 
	<ul>
		<li>
			<a href="/grabit/dabo/appwizardscreencast.zip">The Dabo Application Wizard</a>
		</li>
		<li>
			<a href="/grabit/dabo/populategridscreencast.zip">Populating a Grid Using Business Objects</a>
		</li>
		<li>
			<a href="/grabit/dabo/reportdesigneroverviewscreencast.zip">Report Designer Overview</a>
		</li>
		<li>
			<a href="/grabit/dabo/reportdesignerparttwoscreencast.zip">Report Designer Overview, Part 2</a>
		</li>
		<li>
			<a href="/grabit/dabo/sizers1screencast.zip">Using Sizers, Part 1</a>
		</li>
		<li>
			<a href="/grabit/dabo/sizers2screencast.zip">Using Sizers, Part 2</a>
		</li>
		<li>
			<a href="/grabit/dabo/addpropertyscreencast.zip">Dabo Development</a>
		</li>
		<li>
			<a href="/grabit/dabo/codedemoscreencast.zip">Writing Code in the Designer</a>
		</li>
		<li>
			<a href="/grabit/dabo/designerdemoscreencast.zip">Using a <i>very old</i> version of the Designer</a>
		</li>
	</ul>
	<p>
		&nbsp;
	</p>
	<p style="margin-bottom:30px">
		&nbsp;
	</p>
	</div>

</%def>
