<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
	<meta http-equiv="Cache-Control" content="post-check=0, pre-check=0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="copyright" tal:attributes="content python:here.getCopyright()">
	<meta name="keywords" content="Python wxPython framework programming database desktop 'open source' 'visual foxpro' 'visual basic' linux ide">
	<meta http-equiv="Description" content="Dabo Framework information">
<!-- 
	<title>Dabo Desktop Application Framework</title>
 -->
	<link rel="stylesheet" type="text/css" href="/dabo.css">
	<title>${self.title()}</title>	
</head>

<body>
<table border="0" cellpadding="0" width="100%" class="heading">
<tr>
	<td align="left"><a href='/'><img src="/media/dabo_logo_250x100.png" width="250" height="100" border="0"></a></td>
	<td align="right" valign="bottom">
		<table border-"0" style="font-size: 70%;"">
			<tr>
				<td colspan="2" style="text-align: right;">Like Dabo? Donate!</td>
			</tr>
			<tr>
				<td style="text-align: right;">Ed:</td>
				<td><iframe style="border: 0; margin: 3; padding: 0;"
				src="https://www.gittip.com/EdLeafe/widget.html" width="48pt" height="20pt"></iframe></td>
			</tr>
			<tr>
				<td style="text-align: right;">Paul:</td>
				<td><iframe style="border: 0; margin: 3; padding: 0;"
				src="https://www.gittip.com/pmcnett/widget.html" width="48pt" height="20pt"></iframe></td>
			</tr>
		</table>
	</td>
</tr>
</table>
<!-- script language="javascript">init();</script --> 
	
<!-- BEGIN TOP NAVIGATION -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="51" class="navtable">
<tr>
	<td align="RIGHT" valign="top">
		<a href="/about"><span class="navbartext">About</span></a>
		<a href="/news"><span class="navbartext">News</span></a>
		<a href="/download"><span class="navbartext">Download</span></a>
		<a href="/documentation"><span class="navbartext">Documentation</span></a>
		<a href="http://trac.dabodev.com"><span class="navbartext">Issue Tracker</span></a>
		<a href="http://wiki.dabodev.com"><span class="navbartext">Wiki</span></a>
		<a href="/support"><span class="navbartext">Support</span></a>
		<a href="http://wiki.dabodev.com/FAQs"><span class="navbartext">FAQ</span></a>
	</td>
</tr>
</table>
<!-- END TOP NAV -->
	
<!-- BEGIN BODY -->
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="maintable">
	<tr>
		<td width="60%" valign="top">
			<div>
			${self.body()}
			</div>
		</td>
<!-- 		<td align="right" valign="top"> -->
<!-- 		<div class="visualcontent"> -->
<!-- 			&nbsp; -->
			<!--<img src='/media/screenshots/appRecipesBrowsePage-GTK2.png' border=0 width="300">-->
			<!-- I propose a random, rotating screenshot of Dabo in action to go on the right side -->
<!-- 		</div> -->
<!-- 		</td> -->
		<td width="20%" align="center" valign="top">
			<p>&nbsp;</p>
			<script type="text/javascript"><!--
			google_ad_client = "pub-7160264391265177";
			google_ad_width = 120;
			google_ad_height = 60;
			google_ad_format = "120x60_as_rimg";
			google_cpa_choice = "CAAQxZqazgEaCMOiwb9yonQWKIHD93M";
			//--></script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			<p></p>
			<script type="text/javascript"><!--
			google_ad_client = "pub-7160264391265177";
			google_ad_width = 160;
			google_ad_height = 600;
			google_ad_format = "160x600_as";
			google_ad_type = "text_image";
			google_ad_channel ="";
			google_color_border = "000000";
			google_color_bg = "F0F0F0";
			google_color_link = "0000FF";
			google_color_url = "008000";
			google_color_text = "000000";
			//--></script>
			<script type="text/javascript"
			  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			<p />
			<script type="text/javascript"><!--
			google_ad_client = "pub-7160264391265177";
			google_ad_width = 125;
			google_ad_height = 125;
			google_ad_format = "125x125_as_rimg";
			google_cpa_choice = "CAAQo-aZzgEaCM3CU97Siy5UKK2293M";
			//--></script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</td>
	</tr>
	</table>
<!-- END BODY -->

<!-- BEGIN FOOTER -->
<%
	import datetime
	yeartext = datetime.date.today().strftime('%Y') 
%>

<!-- BEGIN BOTTOM NAVIGATION -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="51" class="navtable bottom">
<tr>
	<td align="RIGHT" valign="top">
		<a href="/about"><span class="navbartext bottom">About</span></a>
		<a href="/news"><span class="navbartext bottom">News</span></a>
		<a href="/download" style="padding-top: 5em;"><span class="navbartext bottom">Download</span></a>
		<a href="/documentation"><span class="navbartext bottom">Documentation</span></a>
		<a href="http://trac.dabodev.com"><span class="navbartext bottom">Issue Tracker</span></a>
		<a href="http://wiki.dabodev.com"><span class="navbartext bottom">Wiki</span></a>
		<a href="/support"><span class="navbartext bottom">Support</span></a>
		<a href="http://wiki.dabodev.com/FAQs"><span class="navbartext bottom">FAQ</span></a>
	</td>
</tr>
</table>
<!-- END BOTTOM NAV -->

<div>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
<!-- 
	<tr>
		<td valign="top" bgcolor="#416B57"><img src="/media/spacer.gif" width="1" height="2" border="0"></td>
	</tr>
	<tr>
		<td align="center" bgcolor="#76AC92" class="small">
		Dabo is the easy to use, cross-platform, 3-tier, open source desktop database development framework.
		</td>
	</tr>
	<tr>
		<td valign="top" bgcolor="#416B57"><img src="/media/spacer.gif" width="1" height="2" border="0"></td>
	</tr>
	<tr>
		<td valign="top" bgcolor="#A9CBBB"><img src="/media/spacer.gif" width="1" height="2" border="0"></td>
	</tr>
 -->
	<tr>
		<td align="center" valign="middle" bgcolor="#36374C" height="29" class="small">
			<a href="http://www.wavelengthmedia.com/" target="_blank"><img 
			src="/media/wavelength_media_credit.gif" alt="Site Designed by: Wavelength Media Inc." 
			width="254" height="10" hspace="2" vspace="2" border="0"></a>
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle" height="29" class="small">
			&copy;2004-${yeartext}
			<a href="http://paulmcnett.com">Paul McNett</a>, <a href="http://leafe.com">Ed Leafe</a>, et al.
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle" class="small toppad">
			<a href="http://www.rackspace.com/cloud" alt="Learn more about cloud computing from The Rackspace Cloud">
				<img src="http://cdn.cloudfiles.rackspacecloud.com/c110782/rackspace_cloud_blk_sm.png" border="0" 
				alt="Learn more about cloud computing from The Rackspace Cloud" width="150" height="61" />
				Powered By Rackspace Cloud Computing
			</a>
		</td>
	</tr>

	</table>
</div>
<!-- END FOOTER -->
	
</body>
</html>
