<%inherit file="/main.html"/>\
<%page cached="False"/>
<%def name="title()">Dabo News</%def>
<%def name="body()">

<hr>
CONTENT<br>
${c.news_content}
<hr>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="maintable_">
	<tr>
		<td width="60%" valign="top">
		<div class="title">Dabo News
                        <a title="RSS" href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/index.rss"><span style="border-style: solid;
                                border-color: rgb(255, 200, 164) rgb(125, 51, 2) rgb(63, 26, 1) rgb(255, 154, 87);
                                border-width: 1px; margin: 0px; padding: 0px 3px; font-family: verdana,sans-serif;
                                font-style: normal; font-variant: normal; font-weight: bold; font-size: 10px;
                                line-height: normal; font-stretch: normal; font-size-adjust: none;
                                color: rgb(255, 255, 255); background-color: rgb(255, 102, 0);
                                text-decoration: none;">RSS</span></a></div>
		<div class="contentdiv">

		<div class="date"><h2>October 30, 2009</h2></div>
		<h2>Moving to new Server</h2>
		<div style="font-size:120%; color:blue; font-weight:bold;">
			<p>We're in the process of moving the Dabo site to a brand new server. Please let us know
			if you find any problems by sending an email to ed at dabodev dot com. Thanks for your patience!</p>
		</div>


		<div class="date">
			<h2>Dec 10, 2008</h2>
		</div>
<h3><a name="Dabo_0.9.0_Released">Dabo 0.9.0 Released</a></h3>
<div class="blosxomStory">
<p>We are proud (and relieved!) to finally release Dabo 0.9.0, the first  
official release of the framework in six months. We haven't been  
taking it easy during that period; rather, we made some changes that  
clean up some weak spots in the codebase, and as a result can offer a  
much more solid framework, and are on course for a 1.0 release in the  
near future.</p>

<p>To do this, we made some decisions that break backwards compatibility.  
We dropped support for Python versions earlier than 2.4, and wxPython  
versions below 2.8. Supporting everything is nice to aim for, but  
completely impractical.</p>

<p>There is also a major addition to the framework: the ability to deploy  
Dabo applications as true web apps. Imagine: being able to develop a  
rich internet app using nothing but Python on both the client and  
server! It's still early in the development process, so it's lacking a  
lot of the supporting tools, and almost no documentation has been  
created, but that will be coming in the next few weeks/months. When  
you deploy your app as a web app, all data access and business logic  
is on the server, and the framework automatically handles the  
communication between the client and server. The framework also  
automatically grabs file changes from the server, making UI updates  
seamless and quick. Lots more interesting stuff will be happening in  
this area in the near future, so stay tuned!</p>

<p>You can grab the latest version from the <a href="http://dabodev.com/download">Download Page</a></p>

<p>A fairly comprehensive list of the changes we've made since the last  
release can be found here: <a href="http://svn.dabodev.com/dabo/tags/dabo-0.9.0/ChangeLog">ChangeLog</a>.</p>

<p>-- Ed Leafe</p>

<p>
  posted at: 12:50 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo_0.9.0_Released.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date"><h2>Jun 03, 2008</h2></div>
<h3><a name="Dabo-0.8.4">Dabo 0.8.4 Released</a></h3>
<div class="blosxomStory">
Six months since the last release, but many improvements have been made!
<a href="http://svn.dabodev.com/dabo/tags/dabo-0.8.4/ChangeLog">[changelog]</a>



<p>
  posted at: 16:51 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.8.4.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date"><h2>Dec 11, 2007</h2></div>
<h3><a name="Dabo-0.8.3">Dabo 0.8.3 Released</a></h3>
<div class="blosxomStory">
We've gotten good feedback from a number of you - it feels like the number of
people trying out Dabo is growing. From now on we'll try to keep to a 5-week 
point release cycle. But once you download and install a point release, you
can always use the new Web Update feature to stay updated. The changes in
0.8.3 can be seen in the <a href="http://svn.dabodev.com/dabo/tags/dabo-0.8.3/ChangeLog">change log</a> . Enjoy!



<p>
  posted at: 13:16 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.8.3.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date"><h2>Oct 25, 2007</h2></div>
<h3><a name="Dabo-0.8.2">Dabo 0.8.2 Released</a></h3>
<div class="blosxomStory">
We are pleased to announce Dabo 0.8.2, which has many many changes since the last version, including web update, better performance, more widgets, a preference dialog you can use in your apps, and better database support. For a full list of changes, view the 
<a href="http://svn.dabodev.com/dabo/tags/dabo-0.8.2/ChangeLog">change log</a> . Enjoy!



<p>
  posted at: 11:35 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.8.2.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Oct 11, 2007</h2>
<h3><a name="Using_raiseEvent">Using raiseEvent()</a></h3>
<div class="blosxomStory">
<p>Sometimes, even if you know the framework as well as I do, you re- 
discover a feature that you had forgotten about. This happened  
tonight as I was going over the interaction between a grid and its  
form, so I thought I'd pass it along.</p>

<p>	When any of the events that cause the current record pointer to move  
are handled by the form, it generates a dEvents.RowNumChanged event,  
to which grids can bind so that they can update their display. The  
form code looked like:</p>

<p>dabo.ui.callAfter(self.raiseEvent, dEvents.RowNumChanged)</p>

<p>and the event handler in the grid would run this code:</p>

<p>try:
	self.CurrentRow = self.getBizobj().RowNumber
except AttributeError:
	pass</p>

<p>	In other words, the grid knew that the row had changed, but had no  
idea what the new row was. It had to then get a reference to the  
bizobj for that grid, if any, and then ask that bizobj for its  
current row number.</p>

<p>	Why is this inefficient? Because the code that raised the event  
*knew* the old and new row numbers; the fact that they were different  
was why it was raising the event in the first place. Then I  
remembered that you can pass data along to raiseEvent(); any keyword  
parameters you add are set as event data. So I changed the form code  
to read:</p>

<p>dabo.ui.callAfter(self.raiseEvent, dEvents.RowNumChanged,
		newRowNumber=biz.RowNumber, oldRowNumber=oldRowNum)</p>

<p>...and now the grid's event handler can just reference those values  
directly! They will have the same names as the parameter keys:</p>

<p>try:
	self.CurrentRow = evt.newRowNumber
except AttributeError:
	pass</p>

<p>	This may be a small savings overall, but I thought that it  
illustrated a handy mechanism built into the Dabo event class that  
you might use to improve your applications.</p>
<p>
  posted at: 18:10 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Tips" title="path">/Tips</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Tips/Using_raiseEvent.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>May 09, 2007</h2>
<h3><a name="Dabo-0.8">Dabo 0.8 Released</a></h3>
<div class="blosxomStory">
<p>I guess we shouldn't have said that Dabo 0.8 is just around the corner! 
Oh, well... here it is finally. We've really been ramping up the development
in anticipation of 1.0 later this year. Please see the 
<a href="http://svn.dabodev.com/dabo/tags/dabo-0.8/ChangeLog">change log</a> 
for all the details, and grab Dabo 0.8 from the 
<a href="http://dabodev.com/download">download page</a>. Enjoy!</p>



<p>
  posted at: 03:21 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.8.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 27, 2007</h2>
<h3><a name="Dabo_Session_at_PyCon_2007_available_online">Dabo Session at PyCon 2007 available online</a></h3>
<div class="blosxomStory">
<p>Last weekend was PyCon 2007 in Dallas, Texas. We recorded my session  
on <b>Developing Desktop Applications with Dabo</b>, and have posted  
the video for those who could not make the conference. It's available  
at: <b><a href="http://dabodev.com/pycon2007">http://dabodev.com/ 
pycon2007</a></b>.</p>
<p>
  posted at: 15:21 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo_Session_at_PyCon_2007_available_online.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Jan 18, 2007</h2>
<h3><a name="Dabo-0.7.2">Dabo 0.7.2 Released (with wxPython 2.8 Support). Dabo 0.8 Around the Corner.</a></h3>
<div class="blosxomStory">
<p>We've released Dabo 0.7.2, DaboIDE 0.7.1, and DaboDemo 0.7.2. These are all
stable releases and the most important fix is that wxPython 2.8 is finally 
supported.</p>

<p>See the <a href="http://svn.dabodev.com/dabo/tags/dabo-0.7.2/ChangeLog">ChangeLog</a>, and <a href="http://dabodev.com/download">download here</a>. Enjoy!</p>


<p>
  posted at: 08:30 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.7.2.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Dec 21, 2006</h2>
<h3><a name="Dabo_Runtime_Engine_For_Windows_0.7.1_Released">Dabo Runtime Engine For Windows 0.7.1 Released</a></h3>
<div class="blosxomStory">
<p>I've just posted an update to the <b>Runtime Engine</b> that fixes some  
pathing issues that could arise in a few situations - thanks to Joe  
Brown for helping me work this out. Otherwise the contents are the  
same as the 0.7 release.</p>

<p>	As usual, you can grab it from the <a
href="http://dabodev.com/download"><b>Download Page</b></a>, or via FTP at
<a href="ftp://dabodev.com/dabo/win">ftp://dabodev.com/dabo/win</a>.</p>
<p>
  posted at: 14:19 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo_Runtime_Engine_For_Windows_0.7.1_Released.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Nov 24, 2006</h2>
<h3><a name="Dabo_Runtime_Engine_For_Windows_0.7_Released">Dabo Runtime Engine For Windows 0.7 Released</a></h3>
<div class="blosxomStory">
<p><b>The Dabo Runtime Engine for Windows</b> is a self-contained environment that allows you to <b>run Dabo on Windows without having to first install all of the requirements</b>. It comes with its own version of Python 2.4.4, wxPython 2.6.3.3, and all of the other modules used in Dabo.</p>

<p>The Dabo Runtime Engine is designed for people who are curious about Dabo, but who don't want the bother of installing all the required modules just to see what Dabo can do. It doesn't change any Windows Registry settings, so it will not affect any existing applications on your machine.</p>

<p>This version installs several shortcuts that allow you to simple double-click an icon to run the desired file. Such shortcuts include the <b>AppWizard</b>, <b>Class Designer</b> and <b>Report Designer</b>, as well as several of the demo applications, including the new <b>DaboDemo</b> application, which allows you to see the demo and the code behind it. You can then modify that code to see how your changes affect the output.</p>

<p>The Dabo Runtime Engine comes in two versions: the regular version that just runs the applications, and the Console version that display a command line window containing the application output and debuggng information. They are otherwise identical.</p>

<p>You can download either version, along with all other things Dabo, from: the <a href="http://dabodev.com/download"><b>Dabo Download Page</b></a>.</p>

<p>
  posted at: 13:47 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo_Runtime_Engine_For_Windows_0.7_Released.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Nov 21, 2006</h2>
<h3><a name="DaboIDE-0.7">Dabo IDE 0.7 Released</a></h3>
<div class="blosxomStory">
<p>We are pleased to announce the release of DaboIDE 0.7. This will eventually
be a true Integrated Development Environment, but currently contains a
few key tools that aren't yet integrated. Nonetheless, you can visually
design your GUI forms and controls, including adding code to methods,
assigning property values, and laying out the form elements using the
Class Designer. You can design custom reports using the Report Designer.
You can build a full-featured application for very easily using the App
Wizard.</p>

<p>We'd also like to announce the new 0.7.1 bugfix release of Dabo and
DaboDemo. Get all this from the <a href="http://dabodev.com/download">download page.</a></p>



<p>
  posted at: 13:46 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboIDE-0.7.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Nov 20, 2006</h2>
<h3><a name="DaboDemo-0.7">Dabo Demo 0.7 Released</a></h3>
<div class="blosxomStory">
This version introduces a new demo application written in Dabo that 
demonstrates various Dabo UI classes. You can see the objects in 
action, and the view/modify the code that instantiated the objects.
This is based on the excellent demo application framework in wxPython,
but rewritten in Dabo code. Oh, and minesweeper is faster. :)


<p>
  posted at: 21:21 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboDemo-0.7.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Nov 16, 2006</h2>
<h3><a name="Dabo-0.7">Finally! Dabo 0.7!</a></h3>
<div class="blosxomStory">
<p>It's been a busy year for Paul and Ed, but somehow they've managed, with
the help of a growing number of users and contributors, to keep the ball
rolling and end up with the next incremental release. There have been lots
of enhancements and bugfixes (see the 
<a href="http://svn.dabodev.com/dabo/tags/dabo-0.7/ChangeLog">ChangeLog</a>), 
and we are proud of what we've created. You can get the latest release from the 
<a href="http://dabodev.com/download">download page</a>. Enjoy!</p>


<p>
  posted at: 18:44 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.7.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Nov 03, 2006</h2>
<h3><a name="WarningAboutWx27">Warning: Current Dabo Not Compatible With wxPython 2.7</a></h3>
<div class="blosxomStory">
<p>We weren't worried about wxPython 2.7 introducing properties, because we
knew it would be a while until wxPython 2.8 (the stable release that would 
go in all the distributions and application developers would use) came into 
the wild. However, the good folks over at wxWidgets have decided to turbo
charge the effort to get wx2.8 out the door so it can be included in the
next release of Apple's OS X. The upshot: wxWidgets 2.7 only just appeared
on the scene, yet 2.8 is just around the corner, and current Dabo does not
work with it, because of the way property definitions work in Python 
mix-in classes. Basically, some of wxPython's properties are trumping 
Dabo's, even though Dabo should be the subclass and thus trump everything.</p>

<p>No worries, though. We know how to proceed, but have decided to wait until
after the first release of Dabo-0.7. Once we have the fix in 0.8, we'll
backport it to the Dabo-0.7 stable version. So, just be patient for now and
keep using wxPython 2.6.x with Dabo.</p>


<p>
  posted at: 16:25 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/WarningAboutWx27.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="Dabo-0.6.6">New Stable Release (0.6.6s)</a></h3>
<div class="blosxomStory">
<p>We've uploaded a new stable release, the first since April. Get it from the 
usual download page. However, stay tuned: hopefully next week we'll be rolling
out Dabo-0.7 as the new stable release, and starting development on Dabo-0.8.
Ed's been doing most of the work on this, but Paul's been benefitting from 
the ever-increasing power of the Dabo system in developing several client
applications. Thanks as always to everyone asking questions and contributing
to the Dabo vision.</p>

<p>
  posted at: 16:17 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.6.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Aug 19, 2006</h2>
<h3><a name="Installing_Dabo_Requirements_on_WinXP">Installing Dabo Requirements on WinXP</a></h3>
<div class="blosxomStory">
<p>I just installed a fresh copy of WinXP on a new VM, and wanted to  
set it up for Dabo development. So I went through the required steps  
to get all the packages installed, and documented all the necessary  
URLs. Wow, things have improved on the installation front in the 2  
years since I last set up a Windows machine! Every package has a  
binary installer, making setting up pretty painless. It's documented on this
<a href="http://wiki.dabodev.com/InstallingRequirementsForWindows">Wiki
Page</a>.</p>
<p>
  posted at: 09:20 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Installing_Dabo_Requirements_on_WinXP.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 20, 2006</h2>
<h3><a name="Screencast:_Populating_a_Grid_Using_Business_Objects">Screencast: Populating a Grid Using Business Objects<p></a></h3>
<div class="blosxomStory">
In response to a question posted on the <a href="http://opentech.leafe.com/viewforum.php?f=19">Dabo Forum on OpenTech</a>, I've put together a <a href="http://leafe.com/screencasts/populategrid.html"><b>screencast</b></a> that shows how to create a grid using the Class Designer, and then populate it using business objects to get the data. It's about 10.5 minutes long, and the file size is about 10MB, so please be patient if it takes a while to download.</p>
<p>
  posted at: 12:08 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Screencast:_Populating_a_Grid_Using_Business_Objects.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 18, 2006</h2>
<h3><a name="Dabo-0.6.5">Dabo-0.6.5 and DaboIDE-0.5.6 Released</a></h3>
<div class="blosxomStory">
These are just some very minor fixes but I wanted to get them released as
our activity has waned over the Easter break. Get the new downloads from
<a href="http://dabodev.com/download">http://dabodev.com/download</a>.

<p>
  posted at: 23:03 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.5.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 15, 2006</h2>
<h3><a name="DaboDevDown">The Dabo website is down temporarily</a></h3>
<div class="blosxomStory">
Sorry for the inconvenience, but our website and mailing lists will be 
down until Monday most likely. You can still access the Subversion
repositories (see the links in the next blog entry).

<p>
  posted at: 09:34 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboDevDown.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 12, 2006</h2>
<h3><a name="SubversionHTTP">Browsing the Subversion Repository</a></h3>
<div class="blosxomStory">
<p>With the new Apache server for Subversion, you can now browse the Dabo
source code with your web browser. Here are some links:</p>

<blockquote>
<a href="http://svn.dabodev.com/dabo">http://svn.dabodev.com/dabo</a><br>
<a href="http://svn.dabodev.com/dabodemo">http://svn.dabodev.com/dabodemo</a><br>
<a href="http://svn.dabodev.com/daboide">http://svn.dabodev.com/daboide</a><br>
</blockquote>

<p>For any given repository, the stable branch is in branches/stable and the
development branch is in trunk. Official released versions can be found in
tags.</p>


<p>
  posted at: 14:21 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/SubversionHTTP.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="SubversionSwitch">New Subversion Repository Access</a></h3>
<div class="blosxomStory">
We've switched from using Subversion's built-in svnserve server, to using the
Apache server with full WebDAV capabilities. We've also changed the DNS name
from 'paulmcnett.com' to 'svn.dabodev.com'. The new way to check out the 
Dabo repositories is: 

<blockquote>
svn checkout http://svn.dabodev.com/dabo/trunk dabo<br>
svn checkout http://svn.dabodev.com/daboide/trunk daboide<br>
svn checkout http://svn.dabodev.com/dabodemo/trunk dabodemo
</blockquote>

To switch your current working copy, you can use:

<blockquote>
svn switch --relocate svn://paulmcnett.com http://svn.dabodev.com
</blockquote>


<p>
  posted at: 08:25 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/SubversionSwitch.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 06, 2006</h2>
<h3><a name="Dabo_Runtime_Engine_For_Windows_0.6.4_Released">Dabo Runtime Engine For Windows 0.6.4 Released</a></h3>
<div class="blosxomStory">
<p>This is a minor update to the Runtime Engine. Besides containing the  
latest version of the Dabo libraries, it also fixes some problems  
with ReportLab that was preventing the ReportDesigner from running.  
Just run the Uninstall for the old version, and install this, and you  
should be good to go.</p>

<p>As usual, grab your copy from the Dabo Download Page: <a href="http://dabodev.com/download">http://dabodev.com/download</a>.</p>

<p>
  posted at: 14:00 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo_Runtime_Engine_For_Windows_0.6.4_Released.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="Dabo-0.6.4">Dabo-0.6.4 and DaboIDE-0.5.5 Released</a></h3>
<div class="blosxomStory">
The AppWizard's table selection page isn't so hokey anymore, allowing one click
to toggle the checkbox values. Fixed some unicode problems in dEditor and in 
saving data back to a database. Fixed a fast cpu problem in the Class Designer.
We'd like to thank everyone that is contributing to Dabo by asking questions,
submitting issues to the tracker, or just engaging us in discussion.

<p>
  posted at: 06:50 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.4.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Apr 03, 2006</h2>
<h3><a name="Dabo-0.6.3">Dabo-0.6.3 and DaboIDE-0.5.4 Released</a></h3>
<div class="blosxomStory">
A few minor issues have been fixed in Dabo and DaboIDE since last week.

<p>
  posted at: 09:16 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.3.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Mar 31, 2006</h2>
<h3><a name="DaboIDE-0.5.3">DaboIDE-0.5.3 Released</a></h3>
<div class="blosxomStory">
This contains an important fix for the Class Designer, which may not have 
been finding your class files due to pathing issues previously.

<p>
  posted at: 06:23 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboIDE-0.5.3.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Mar 30, 2006</h2>
<h3><a name="DaboRuntimeEngine-0.6.2Released">Dabo Runtime Engine For Windows 0.6.2 released</a></h3>
<div class="blosxomStory">
<p><b>The Dabo Runtime Engine for Windows</b> is a self-contained environment that allows you to <b>run Dabo on Windows without having to first install all of the requirements</b>. It comes with its own version of Python 2.4.2, wxPython 2.6.3.0, MySQLdb 1.2.0, kinterbasdb 3.2.0a1, ReportLab v.2463, and several other modules used in Dabo.</p>
<p>The Dabo Runtime Engine is designed for people who are curious about Dabo, but who don't want the bother of installing all the required modules just to see what Dabo can do. It doesn't change any Windows Registry settings, so it will not affect any existing applications on your machine.</p>
<p>This version installs several shortcuts that allow you to simple double-click an icon to run the desired file. Such shortcuts include the AppWizard, ClassDesigner and ReportDesigner, as well as several of the demo applications.</p>
<p>The Dabo Runtime Engine comes in two versions: the regular version that just runs the applications, and the Console version that display a command line window containing the application output. Besides that, they are identical.</p>
<p>You can download either version, along with all other things Dabo, from: the <a href="http://dabodev.com/download"><b>Dabo Download Page</b></a>.</p>

<p>
  posted at: 05:13 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboRuntimeEngine-0.6.2Released.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Mar 28, 2006</h2>
<h3><a name="Dabo-0.6.2">Dabo-0.6.2 and DaboIDE-0.5.2 Released</a></h3>
<div class="blosxomStory">
<p>We've begun a stable/dev branch strategy for Dabo; currently, the stable branch is 0.6.x and the dev branch is 0.7a. When we find bugs, we'll backport to the stable branch after fixing the dev branch, and then roll out a new point release when we feel it is appropriate. Anyway, the new releases are available as always from the download page.</p>

<p>
  posted at: 20:32 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.2.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="Dabo-0.6.1">Dabo 0.6.1 Released</a></h3>
<div class="blosxomStory">
<p>This fixed a small bug after we had already released 0.6.</p>

<p>
  posted at: 06:40 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.1.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Mar 27, 2006</h2>
<h3><a name="Dabo-0.6">Dabo 0.6 Released</a></h3>
<div class="blosxomStory">
<p>Grab the latest from the <a href="/download"><b>Download Page</b></a>. Dabo is really shaping up, and it has been a while since the last release, 0.5.1 back in January. There are too many things to list here, but you can always check the ChangeLog file in the root of the Dabo distribution to see what has changed. Also, Ed has summarized the changes <a href="http://dabodev.com/announcements/changeLog-0.6">here</a>.</p>

<p>In addition to what we've improved in Dabo, we can't forget to mention the Dabo Class Designer, and Dabo Report Designer. Both of these visual design tools are really coming together, and can be found in the DaboIDE repository, which got bumped from version 0.4 to 0.5 today as well. Coming soon will be a graphical menu designer, and coming down the pipe will be an integration of these design tools into an Integrated Development Environment.</p>


<p>
  posted at: 11:47 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Dabo-0.6.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Mar 10, 2006</h2>
<h3><a name="RSS_Feeds_for_Source_Code_Updates.">RSS Feeds for Source Code Updates.</a></h3>
<div class="blosxomStory">
<p>There is a new service, courtesy of http://www.repocaster.com/, that  
generates RSS feeds from Subversion repositories. I've registered 3  
of the Dabo repositories: the main framework, the IDE code, and the  
Demo code. The RSS URLs are:</p>

<p>Framework: <a href="http://www.repocaster.com/main/get_feed/17">http://www.repocaster.com/main/get_feed/17</a></p>
<p>IDE: <a href="http://www.repocaster.com/main/get_feed/18">http://www.repocaster.com/main/get_feed/18</a></p>
<p>Demo: <a href="http://www.repocaster.com/main/get_feed/19">http://www.repocaster.com/main/get_feed/19</a></p>

<p>The service isn't completed yet, but I like the idea. If you have an  
RSS reader, you can add these links and keep up with all the latest  
changes in Dabo!</p>
<p>
  posted at: 16:35 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/RSS_Feeds_for_Source_Code_Updates..html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 21, 2006</h2>
<h3><a name="Saved_Classes_and_Inheritance_in_the_UI">Saved Classes and Inheritance in the UI</a></h3>
<div class="blosxomStory">
<p>The Dabo Designer now supports component classes that can be used in  
multiple forms, with full inheritance maintained. This allows you to  
not only re-use some useful components, but to have updates to those  
components automatically appear in the designs that use them.</p>

<p>	Let's say you created a 'mover' control: one that moves items  
between two lists. This can be handy in lots of forms, so you save it  
as a class. Later on you need to create another form that needs a  
mover, so you add an instance of your mover class to this new design  
surface. It will simply work as expected. But now suppose that a few  
weeks later, after you've used this class in dozens of forms, you  
discover a bug in your mover code. No problem: just fix the bug in  
your class, and all the forms that use your mover are also fixed!</p>
<p>
  posted at: 08:37 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Saved_Classes_and_Inheritance_in_the_UI.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 13, 2006</h2>
<h3><a name="Screencast-ReportDesignerOverview">Screencast: Dabo Report Designer Overview</a></h3>
<div class="blosxomStory">
<p>I've just posted a new screencast that goes through the basics of designing reports. It takes a quick report as generated by a datanav application, and modifies it to provide grouping and subtotaling. Along the way, the viewer should get a good feeling about the capabilities of the report designer as it stands now.</p>

<p>Running time is 23 minutes.</p>

<p>View this and our previous screencasts at <a href="http://dabodev.com/documentation">http://dabodev.com/documentation</a>.</p> --Paul

<p>
  posted at: 12:19 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Screencast-ReportDesignerOverview.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="Screencast-ReportDesignerOverviewPartTwo">Screencast: Dabo Report Designer Overview, Part Two</a></h3>
<div class="blosxomStory">
<p>I've continued where I left off at the end of my last screencast, and posted part two. This one is only 10 minutes long and has better audio compression, so it should be a lighter download. And, your feedback has resulted in some better features in the Report Designer.</p>

<p>View this and our previous screencasts at <a href="http://dabodev.com/documentation">http://dabodev.com/documentation</a>.</p> --Paul

<p>
  posted at: 12:19 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Screencast-ReportDesignerOverviewPartTwo.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 05, 2006</h2>
<h3><a name="Suggestions_for_PyCon_Talk">Suggestions for PyCon Talk</a></h3>
<div class="blosxomStory">
	As most of you know, I'll be doing a session at this month's PyCon  
entitled 'The State of Dabo'. My goal is to both educate people about  
what Dabo can do, as well as impress them with its power. What I'd  
like to know is what was it about Dabo that first made you consider  
taking a good look at it; what first made you think "Wow, this could  
really be useful!".

	I only have a 30-minute session, which yields about 20 minutes to  
show stuff, so I obviously can't show everything. Your suggestions  
will help me focus on what might impress the folks at the session who  
have never seen Dabo before.




<p>
  posted at: 06:53 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/Suggestions_for_PyCon_Talk.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 04, 2006</h2>
<h3><a name="Bookmarks_in_the_Editor">Bookmarks in the Editor</a></h3>
<div class="blosxomStory">
<p>The <b>Dabo Editor</b> now supports <b>named bookmarks</b>! This  
makes it <i>much</i> easier to navigate around a long document. If  
you want to bookmark a location, make sure that the cursor is on the  
desired line, and click on the button at the top with the <b>'M'</b>.  
Select <b>'Set Bookmark'</b> from the menu, and enter a brief name to  
help you remember what that means. You'll see a small cyan circle in  
the left margin by that line, indicating that it has been bookmarked.</p>

<p>Now navigate to somewhere else in the document. Do whatever editing  
you need, and then click on the 'M' button again. Note that the name  
you gave your bookmark is now in the popup menu. Select that, and the  
editor moves to that line. What's <b>even cooler</b> is that even if you add  
or delete lines, the bookmark <i>follows the code that you  
bookmarked</i>, not the line number!</p>


<p>
  posted at: 10:26 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Tips" title="path">/Tips</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Tips/Bookmarks_in_the_Editor.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="date">
<h2>Feb 01, 2006</h2>
<h3><a name="ScreenCastUsingSizersPart1">Screencast: Using Sizers (part 1)</a></h3>
<div class="blosxomStory">
A new <b>screencast</b> has been posted: <b><a href="http://leafe.com/screencasts/sizers1.html">Using Sizers (part 1)</a></b> It explains a bit about the use of sizers in laying out a form, and how to accomplish this using the Dabo Designer.

<p>
  posted at: 11:18 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/ScreenCastUsingSizersPart1.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="SQLiteSupport">SQLite Support Added</a></h3>
<div class="blosxomStory">
We've just added support for the <b>SQLite database engine</b> into Dabo. SQLite joins MySQL, PostgreSQL and Firebird as a supported database backend for Dabo.

<p>
  posted at: 11:14 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/SQLiteSupport.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="DaboRuntimeForWindows">Dabo Runtime for Windows</a></h3>
<div class="blosxomStory">
The <b>DaboRuntime for Windows</b> has been updated to version 0.3. The runtime comes with a full copy of the Dabo framework, as well as the Demo and IDE files, and allows you to run any of these on a Windows machines <b>without having to install Python, wxPython, the database modules</b>, etc. The framework code is no longer built into the runtime, so you can update the framework as we continue to improve it.

<p>
  posted at: 11:14 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/DaboRuntimeForWindows.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="RuntimeInstallerForLinux">Runtime Installer for Linux?</a></h3>
<div class="blosxomStory">
I haven't updated this page in a while, and didn't want anyone to think that we haven't been working hard on Dabo. Currently the big project is figuring out just how to create a completely self-contained runtime distribution on Linux. It's easy if everyone is using Fedora, since that's what we're running on our development machines, but much tougher if we want to support older machines. I'm making progress, so perhaps in the next week or so I'll have some good news. Keep your fingers crossed!

<p>
  posted at: 11:14 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/RuntimeInstallerForLinux.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
<h3><a name="VisualDesignerUpdate">Visual Designer Update</a></h3>
<div class="blosxomStory">
Work continues on the <b>Visual Designer</b>; the property sheet is working well, and the visual layout of controls using sizers is also coming along nicely. We're also able to save the design to an editable XML format, although this is still open to modification. Next up is to create a floating palette to replace the clunky context menu for adding controls.

<p>
  posted at: 11:14 | 
  path: <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements" title="path">/Announcements</a> | 
  <a href="http://paul.dabodev.com/cgi-bin/pyblosxom.cgi/Announcements/VisualDesignerUpdate.html">permalink</a>
</p>
<p>&nbsp;</p>
</div>
</div>

	</div>
		</td>

	</tr>
	</table>
</%def>
