<%inherit file="/main.html"/>\
<%page cached="False"/>
<%def name="title()">Dabo - Support</%def>
<%def name="body()">

<div class="contentdiv">
	
	<p>We offer free, informal support on the <a href="http://mail.leafe.com/mailman/listinfo/dabo-users">dabo-users mailing list</a>, and will update the <a href="http://wiki.dabodev.com">Wiki</a> and the documentation as needed when new issues are brought to our attention.</p>
	
	<p>We also offer one-on-one live phone, chat, or on-site support at an hourly rate, with a minimum charge of one hour plus phone charges or travel costs. Contact the authors (<a href="http://wiki.dabodev.com/EdLeafe">Ed Leafe</a> and <a href="http://wiki.dabodev.com/PaulMcNett">Paul McNett</a>) for more information.</p>

	<p style="margin-bottom: 30px">&nbsp;</p>
</div>

</%def>
